$primary-grey: #e5e5e5;
$primary-white: #fffefb;
$primary-black: #111111;
$primary-blue: #4a8cc9;
$primary-lightblue: #b4dbff;
$primary-darkblue: #0b4d89;

$black: #303030;
$grey: #e5e5e5;
$palewhite: #fffefb;
